/* Customized styles */

body {
    font-family: "Georgia", "Helvetica";
}

img {
    border: 1px solid #eee;
    box-shadow: 5pt 5pt 8pt #eee;
}

.remark-container {
    width: 1024px;
    font-size: 160%;
}

.red { color: red; }
.navy { color: navy; }
.left { float: left; }
.right { float: right; }

pre {
    margin-left: 30px;
    font-size: 80%;
}

blockquote {
    margin-left: 20px;
    padding-left: 10px;
    border-left: 5px solid #eee;
    color: #888;
    font-style: italic;
}

h1, h2, h3 {
    color: purple;
}
